<body>
    <center>
        <h1 style="color:var(--primary);">
           Start Visiting Orphange to shower your care and love
        </h1><br>
          
        <div>
            <!-- Google Map Copied Code -->
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d30445.110417670145!2d78.3185689825022!3d17.476993728605244!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bcb92ed4875e99b%3A0x3d29c6d9b018451d!2sSankalp%20Foundation!5e0!3m2!1sen!2sin!4v1642317479919!5m2!1sen!2sin" width="800" height="600" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
     
        </div>
    </center>
</body>