
<!--BANNER-->
<div class="banner">
<section>
<h3>Welcome To <em>Helping Hands</em></h3>
<h1 class="title">We wish you help the needy</h1>
<a href="#" class="btn1">Our Services</a> <a href="#" class="btn2">Contact Us</a>
</section>
</div>





